/* *кнопка закрытия модального окна */

.modal__icon {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;

	cursor: pointer;
	fill: currentColor;
	color: var(--primary-black-color);

	&:hover,
	&:hover {
		fill: var(--accent-color);
	}
}
