/*  *наполнение модального окна */
.modal__title {
	padding: 40px 40px 12px 40px;

	font-weight: 700;
	font-size: 20px;
	@media screen and (min-width: 1200px) {
		line-height: 1.5;
	}
	line-height: 0.9;
	text-align: center;

	color: var(--title-text-color);
}
.modal__conteiner {
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}

.modal__text {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.1;
	letter-spacing: 0.01em;
}
.modal__label {
	position: relative;
}
.modal__input {
	padding-left: 42px;

	@media screen and (min-width: 1200px) {
		min-width: 448px;
	}

	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;

	transition: border var(--anmation);

	&:focus,
	&:hover {
		border: 1px solid var(--accent-color);
	}
}

.modal__icons {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	transition: fill var(--anmation);
}
.modal__input:hover + .modal__icons,
.modal__input:focus + .modal__icons {
	fill: var(--accent-color);
}
.modal__icons:hover {
	fill: var(--accent-color);
}

.modal__comment {
	padding-left: 16px;
	padding-top: 12px;

	resize: none;

	@media screen and (min-width: 1200px) {
		min-width: 448px;
	}
	width: 100%;
	height: 120px;

	overflow: auto;
	outline: none;

	// border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}
.modal__comment:hover,
.modal__comment:focus {
	border: 1px solid var(--accent-color);
}
