.button {
	display: inline-block;
	min-width: 200px;
	min-height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	cursor: pointer;
	border-radius: 4px;
	border: none;

	background: var(--accent-color);
	color: var(--primary-white-color);

	transition: background-color var(--anmation), color var(--anmation);
	&:hover,
	&:focus {
		background: #188ce8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

.button--hero {
	padding: 10px 32px;
}

/* potfolio button */

.btn {
	padding: 6px 24px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	letter-spacing: 0.03em;

	color: var(--title-text-color);

	background: var(--primary-bg-color);
	border-radius: 4px;
	border: none;
	transition: color var(--anmation), background-color var(--anmation);

	&:hover,
	&:focus {
		color: var(--primary-white-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}

	&--current {
		background-color: var(--accent-color);
		color: var(--primary-white-color);
	}
}

.list-btn {
	margin-bottom: 40px;
	@media screen and (min-width: 1200px) {
		justify-content: center;
	}
	@media screen and (min-width: 768px) {
		margin-bottom: 30px;
	}
	display: flex;
	@media screen and (max-width: 1199px) {
		flex-wrap: wrap;
	}

	&__item:not(:last-child) {
		margin-bottom: 15px;
		margin-right: 8px;
		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
	&__item:nth-child(4) {
		margin-bottom: 0;
	}
}

/* button is footer */
.button--position {
	position: relative;
	padding: 0;
	padding-right: 30px;
	@media screen and (max-width: 1199px) {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
	}

	&::after {
		content: ' ';
		width: 24px;
		height: 24px;
		top: 13px;
		position: absolute;
		margin-left: 10px;
		background-image: url(../images/telegram.svg);
	}
}

/* button in form */
.button--form {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.menu-btn {
	display: none;
	@media screen and (max-width: 767px) {
		display: inline-flex;
		margin-left: auto;
		padding: 5px;
		margin-top: 20px;
		margin-bottom: 20px;

		border: none;
		background-color: transparent;

		& .icon-cross {
			display: none;
		}
		&.is-open .icon-cross {
			display: block;
		}
		&.is-open .icon-menu {
			display: none;
		}
	}
}
