.auth-nav {
	// @media screen and (max-width: 767px) {
	// 	display: none;
	// }
	margin-left: auto;
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
.auth-nav__list {
	@media screen and (min-width: 768px) {
		margin-top: 21px;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-top: 0;
	}
}
.auth-nav__item:not(:last-child) {
	@media screen and (min-width: 1200px) {
		margin-right: 30px;
	}
}
.auth-nav__item {
}
.auth-nav__link {
	@media screen and (min-width: 768px) {
		display: flex;
	}
	@media screen and (max-width: 767px) {
		font-size: 24px;
		line-height: 1.17;
		margin-bottom: 32px;
		padding: 0;
		display: block;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	color: var(--primary-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	transition: color var(--anmation);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
.auth-nav__link--color {
	@media screen and (min-width: 768px) {
		padding-bottom: 10px;
	}
	@media screen and (max-width: 767px) {
		font-size: 31px;
		line-height: 1.17;
		color: var(--accent-color);
	}
}

/* *телефон эмейл */
.auth-nav__icon {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		fill: currentcolor;
		height: 16px;
		width: 16px;
		justify-content: center;
		margin-right: 10px;

		&:hover,
		&:focus {
			fill: var(--accent-color);
		}
	}
}
