.header {
	border-bottom: 1px solid #ececec;
	position: relative;
}
// .header__flex-container {
// 	@media screen and (min-width: 768px) {
// 		display: flex;
// 	}
// }

.menu-container {
	@media screen and (min-width: 400px) and (max-width: 767px) {
		padding: 18px 0 48px 40px;
	}
	display: flex;
	width: 100%;
	@media screen and (max-width: 767px) {
		display: none;
		position: fixed;
		overflow: hidden;
		padding: 18px 0 48px 15px;
		top: 0;
		left: 0;
		height: 100%;

		// z-index: 8;

		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
			0px 1px 3px rgba(0, 0, 0, 0.16);
		&.is-open {
			display: block;
		}
	}
}
.header__social {
	@media screen and (min-width: 768px) {
		display: none;
	}

	// position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--accent-color);
}

.header__menu-list {
	display: flex;
	flex-wrap: wrap;
}
.header__menu-item {
	// padding-top: 20px;
	padding-bottom: 20px;
	@media screen and (min-width: 768px) {
		display: none;
	}
	position: relative;
	&:not(:last-child) {
		margin-right: 20px;
	}
	&:not(:first-child)::before {
		display: none;
		@media screen and (min-width: 380px) {
			content: ' ';
			display: block;
			position: absolute;
			top: 0;
			left: -11px;
			width: 2px;
			height: 22px;
			background-color: rgba(33, 33, 33, 0.2);
		}
	}
}
.header__list {
	margin-bottom: 250px;
	@media screen and (min-width: 380px) and (max-width: 767px) {
		margin-bottom: 300px;
	}
}
