.header__site-nav {
	display: flex;
	// justify-content: space-between;
}
.header__list {
	// @media screen and (max-width: 767px) {
	// 	display: none;
	// }
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}
.header__item:not(:last-child) {
	margin-right: 50px;
}
.header__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	@media screen and (max-width: 767px) {
		font-size: 40px;
		line-height: 1.17;
		padding: 0;
		margin-bottom: 32px;
	}

	transition: color var(--anmation);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.header__link--current {
	color: var(--accent-color);
}
