/* !portfolio */

.portfolio__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}
.portfolio__text {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
.portfolio__link {
	text-decoration: none;
	display: block;
}
.portfolio__link:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.portfolio__card-content {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #eeeeee;
}

.portfolio__item {
	margin-right: 30px;
	margin-bottom: 30px;
}
.portfolio__item:nth-child(3n + 3) {
	margin-right: 0px;
}
.portfolio__item:nth-child(n + 6) {
	margin-bottom: 0px;
}
/* оверлей */

.portfolio__card-text {
	position: absolute;

	padding: 63px 24px;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--primary-white-color);
	font-size: 18px;
	line-height: 1.56;
	transform: translateY(410px);
	transition: transform var(--anmation);
}
.portfolio__link:hover .portfolio__card-text,
.portfolio__link:focus .portfolio__card-text {
	transform: translateY(0);
}

.portfolio__card-thumb {
	position: relative;
	display: flex;
	overflow: hidden;
}
