/* !work */

.work__list {
	display: flex;
}
.work__item:not(:last-child) {
	margin-right: 30px;
}
.work__product-thumb {
	position: relative;
}
.work__text {
	position: absolute;
	width: 370px;
	padding-top: 27px;
	padding-bottom: 27px;
	bottom: 0;

	text-align: center;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;

	background: rgba(47, 48, 58, 0.8);
	color: var(--primary-white-color);
}
